@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-[100dvw] h-[100dvh] bg-slate-300;
}
/* //TODO field styles with no selection ring (+) */

.rootTextField {
    @apply border-2
    rounded-md
    font-semibold 
    text-lg 
    px-2 py-1
    focus:ring-0 
    focus:border-slate-500 
    ring-0;
}

.cardForm {
    @apply border-slate-500 
    text-slate-700 
    bg-slate-300;
}

.productSearchForm {
    @apply text-base
    w-full;
}

.rootButton {
    @apply border-2 
    font-bold 
    px-4 py-2 
    rounded-lg 
    sm:text-base
    text-base/4
    transition-colors;
}

.headerButton {
    @apply border-slate-600 
        text-slate-300 
        hover:border-slate-400 
        hover:text-slate-100;
}

.modalButton {
    @apply font-semibold 
        sm:text-2xl
        text-2xl/4
        border-slate-500 
        text-slate-600 
        hover:border-slate-600 
        hover:text-slate-800;
}

.profileButton {
    @apply sm:text-4xl
        text-2xl
        font-medium
        border-4
        border-slate-500
        text-slate-600
        hover:border-slate-600 
        hover:text-slate-800;
}

.cartItemButton {
    @apply border-slate-600 
        text-slate-700 
        bg-slate-500
        hover:border-slate-700 
        hover:text-slate-900;
}

.authButton {
    @apply sm:text-3xl
        text-xl
        duration-500
        border-slate-400 
        text-slate-600 
        bg-slate-200
        hover:border-slate-600 
        hover:text-slate-800;
}

.cartAmountButton {
    @apply p-0 
        border-[1px]
        h-7
        w-7
        border-slate-400 
        text-slate-600 
        bg-slate-300
        hover:border-slate-600 
        hover:text-slate-800;
}

.checkoutFormButton {
    @apply border-slate-600
        hover:border-slate-500
        text-slate-800
        hover:text-slate-700;
}
