@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-[100dvw] h-[100dvh] bg-slate-300;
}

.rootButton {
    @apply border-2 
    font-bold 
    px-4 py-2 
    rounded-lg 
    transition-colors;
}

.headerButton {
    @apply border-slate-600 
        text-slate-300 
        hover:border-slate-400 
        hover:text-slate-100;
}

.modalButton {
    @apply font-semibold 
        border-slate-500 
        text-slate-600 
        hover:border-slate-600 
        hover:text-slate-800;
}

.profileButton {
    @apply text-4xl
        font-medium
        border-4
        border-slate-500
        text-slate-600
        hover:border-slate-600 
        hover:text-slate-800;
}

.cartItemButton {
    @apply border-slate-600 
        text-slate-700 
        bg-slate-500
        hover:border-slate-700 
        hover:text-slate-900;
}
